{% load static %}
{% load i18n %}
<div class="py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="{%static 'assets/img/logos/microsoft.svg'%}"
                        alt="..." /></a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="{%static 'assets/img/logos/google.svg'%}"
                        alt="..." /></a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="{%static 'assets/img/logos/facebook.svg'%}"
                        alt="..." /></a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="{%static 'assets/img/logos/ibm.svg'%}"
                        alt="..." /></a>
            </div>
        </div>
    </div>
</div>