{% load static %}
{% load i18n %}
{% load company_tags %}
<div class="py-5">
    <div class="container">
        <h3 class="text-center  text-muted m-3">{{_('Our Clients')}}</h3>
        <div class="row align-items-center">
            {%get_clients as clients %}
            {% with len=clients|length %}
            {%for client in clients %}
            <div class="col-xl-{{len|add:1}} col-md-{{len|add:1}} my-2">
                <a href="{{client.website}}">
                    <img class="img-fluid img-brand d-block mx-auto" src="{{client.image.url}}"
                        alt="{{client.website}}" title="{{client.website}}" />
                </a>
            </div>
            {%endfor%}
            {%endwith%}
        </div>
    </div>
</div>