{% load crispy_forms_tags %}
{% load i18n %}

<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">{{_('Contact Us')}}</h2>
            <h3 class="section-subheading text-light">{{_('To contact with us please use the following methods.')}}</h3>
        </div>
        <div class="row align-items-stretch mb-5">
            <div class="col-md-6">
                
            </div>
            <div class="col-md-6 bg-light p-2 rounded">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-primary text-dark" type="submit">{{_('Submit')}}</button>
                </form>
            </div>
        </div>
    </div>
</section>