{% load i18n %}
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">
                {% now "Y" as current_year %}
                {% blocktranslate with website_name=website.name%}
                Copyright &copy; {{website_name}} {{ current_year }}
                {% endblocktranslate %}
            </div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin"></i></a>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3" href="{% url 'company:privacy' %}">Privacy Policy</a>
                <a class="link-dark text-decoration-none" href="{%url 'company:terms'%}">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>