{% load static %}
{% load i18n %}
{% load user_tags %}
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center mb-3">
            <h2 class="section-heading text-uppercase">{{_('Our Team')}}</h2>
        </div>
        <div class="row">
            {% get_team as team %}
            {% for member in team %}
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{{member.profile.image.url}}" alt="..." />
                    <h4>{{member.get_full_name}}</h4>
                    <p class="text-muted">{{member.profile.title}}</p>
                    {% for sa in member.socialaccounts.all %}
                    <a class="btn btn-dark btn-social mx-2" href="{{sa.url}}"><i class="fab fa-{{sa.slug}}"></i></a>
                    {%endfor%}
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</section>