{% extends "company/base.html" %}
{% load i18n %}
{% block title %}{{_('About Us')}}{% endblock %}

{% block company_content %}

<h3 class="text-muted text-center my-3">{{ _('About Us') }}</h3>
<div class="row">
    <div class="col">
        <div id="carouselAbout" class="carousel slide card" data-bs-ride="carousel">
            <div class="carousel-indicators">
                {% for about_image in about.aboutimage_set.all %}
                <button type="button" data-bs-target="#carouselAbout" data-bs-slide-to="{{about_image.order}}"
                    class="{% if forloop.first %}active{% endif %}" aria-current="{% if forloop.first %}true{% endif %}"
                    aria-label="Slide{{about_image.order}}">
                </button>
                {% endfor %}
            </div>
            <div class="carousel-inner">
                {% for about_image in about.aboutimage_set.all %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{about_image.image.url}}" class="d-block w-100" alt="img{{about.}}" />
                    {% if about_image.label and about_image.description %}
                    <div class="carousel-caption d-none d-md-block">
                        <div class="transparent-textarea">
                            <h5>{{about_image.label}}</h5>
                            <p>{{about_image.description}}</p>
                        </div>
                    </div>
                    {%endif%}
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselAbout" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">{{_('Previous')}}</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselAbout" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">{{_('Next')}}</span>
            </button>
        </div>
    </div>
</div>
<div class="row my-3">
    <div class="col-lg-6 col-md-6 mb-2">
        <div class="card h-100">
            <div class="card-body">
                <h4 class="card-title">
                    {{_('Mission')}}
                </h4>
                <p class="card-text">{{about.mission}}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 mb-2">
        <div class="card h-100">
            <div class="card-body">
                <h4 class="card-title">
                    {{_('Vision')}}
                </h4>
                <p class="card-text">{{about.vision}}</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}