{% load static %}
{% load qanda_tags %}
{% load i18n %}


<div class="list-group">
    {%for answer in answers%}
    <div class="list-group-item list-group-item-sm my-1 {% if forloop.counter|divisibleby:2 %}{{'bg-secondary text-light'}}{%endif%}">
        <div class="d-flex justify-content-between">
            <p class="mb-1">{{ _('Author') }} : {{answer.author }}</p>
            <small class="">{{ answer.updated_date|timesince }} {{_('ago')}}</small>
        </div>
        <p class="mb-1">{{ answer.body|markdown }}</p>
    </div>
    {% empty %}
    <div class="list-group-item">{{_('There are no answers yet.')}}</div>
    {%endfor%}
</div>