{% extends "qanda/base.html" %}
{% load qanda_tags %}
{% block title %}{{ qanda.title }}{% endblock %}
{% block qanda_content %}

<div class="row">
    <div class="col-lg-8 col-md-8-col-sm-6 col-xs-12">
        <h1>{{ question.text }}</h1>
        <p class="date">
            Published {{ question.published_date }} by {{ question.author }}
        </p>
        {{ question.body|markdown }}

        {% with answers.count as total_answers %}
        <h2>
            {{ total_answers }} answer{{ total_answers|pluralize }}
        </h2>
        {% endwith %}

        {%for answer in answers%}
        <div class="answer">
            <p class="info">
                answer {{forloop.counter}} by {{answer.author}}
            </p>
            {{answer.body|markdown}}
        </div>
        {% empty %}
        <p>There are no answers yet.</p>
        {%endfor%}
        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}"
            role="alert">{{ message }}</div>
        {% endfor %}
        {% endif %}
        <h2>Add a new answer</h2>
        <form method="post">
            {{ answer_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Add answer"></p>
        </form>
    </div>
    <div class="col-lg-4 col-md-8-col-sm-6 col-xs-12">
        <h2>Similar questions</h2>
        {% for question in similar_questions %}
        <p>
            <a href="{{ question.get_absolute_url }}">{{ question.text }}</a>
        </p>
        {% empty %}
        There are no similar questions yet.
        {% endfor %}
    </div>
</div>
{% endblock %}