{% extends "qanda/base.html" %}
{% load qanda_tags %}
{% load i18n %}
{% block title %}{{ qanda.title }}{% endblock %}
{% block qanda_content %}

<div class="row">
    <div class="col-lg-8 col-md-8-col-sm-6 col-xs-12">
        <h4>{{ question.text }}</h4>
        <div class="d-flex justify-content-between">
            <p class="badge bg-secondary badge-pill">
                {% with answers.count as total_answers %}
                    {{ total_answers }} {{_('answer')}}
                {% endwith %}
            </p>
            <small class="text-muted">
                {% blocktranslate with pub_date=question.published_date author=question.author %}
                    Published {{pub_date}} by {{author}}.
                {% endblocktranslate %}
            </small>
        </div>
        {{ question.body|markdown }}


        <section>
            <div class="card bg-light">
                <div class="card-body">
                    {% include 'qanda/answer_form.html' %}
                    {% include 'qanda/answers.html' %}
                </div>
            </div>
        </section>
        
        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}"
            role="alert">{{ message }}</div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="col-lg-4 col-md-8-col-sm-6 col-xs-12">
        <div class="p-3 bg-secondary text-light">
            <h5>{{_('Similar questions')}}</h5>
            {% for question in similar_questions %}
            <p>
                <a href="{{ question.get_absolute_url }}">{{ question.text }}</a>
            </p>
            {% empty %}
            <p class="">{{_('There are no similar questions yet.')}}</p>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}