{% extends 'qanda/base.html' %}
{% load i18n %}
{% block qanda_content %}
<div class=" alert-primary d-flex justify-content-between">
    <h4 class="alert">
        {{_('Latest Q & A')}}
    </h4>
    <h4 class="p-3">
        <a href="{% url 'qanda:new-question' %}" class="btn btn-warning text-dark shadow">{{_('Ask a New Question')}}</a>
    </h4>
</div>
<div class="list-group">
    {% for question in questions %}
    <div class="list-group-item">
        <div class="d-flex justify-content-between">
            <a class="text-decoration-none" href="{{question.get_absolute_url}}">
                <p>{{question.text}}</p>
            </a>
        </div>
        <div class="row d-flex justify-content-between">
            <small>{{_('Asked by')}}: {{question.author}}</small>
            <small>{{question.published_date}}</small>
        </div>
        <span class="badge bg-primary">{{question.count_answers}} {{_('answer')}}</span>
    </div>
    {% endfor %}
</div>
{% endblock %}