{% extends 'qanda/base.html' %}
{% block qanda_content %}
<h1 class="alert alert-primary">
    Latest Q & A
</h1>
<div class="list-group">
    {% for question in questions %}
    <div class="list-group-item">
        <a href="{{question.get_absolute_url}}">
            <p>{{question.text}}</p>
        </a>
        <div class="row d-flex justify-content-between">
            <small>Asked by: {{question.author}}</small>
            <small>{{question.published_date}}</small>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}