{% extends 'qanda/base.html' %}
{% block qanda_content %}
<h1 class="alert alert-primary">
    Latest Q & A
</h1>
<div class="accordion" id="accordionExample">
    {% for question in questions %}
    <div class="accordion-item">
        <div class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseQuestion{{question.id}}" aria-expanded="true"
                aria-controls="collapseQuestion{{question.id}}">
                <div class="row">
                    <p>{{question.text}}</p>
                </div>
                <div class="row d-flex justify-content-between">
                    <small>Asked by: {{question.author}}</small>
                    <small>{{question.published_date}}</small>
                </div>
            </button>
        </div>
        <!-- TODO : django template language conditional class show or collapse -->
        <div id="collapseQuestion{{question.id}}" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul class="list-group my-2">
                    {% for answer in question.answers.all %}
                    <li class="list-group-item list-group-item-sm">
                        <p>{{answer.body}}</p>
                        <div class="d-flex justify-content-between">
                            <small><b>Answered by: {{answer.author}}</b></small>
                            <small>{{answer.created_date}}</small>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}