{% extends "qanda/base.html" %}
{% load crispy_forms_tags %}
{% block title %}{{_('Ask a New Question')}}{% endblock %}
{% block qanda_content %}
    <div class="card p-3 shadow-sm" style="background-color: rgb(230, 230, 230);">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{_('Ask a New Question')}}</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group my-3">
                <button class="btn btn-outline-primary" type="submit">{{_('Submit')}}</button>
            </div>
        </form>
    </div>
{% endblock %}