{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}{{_('New Blog Post')}}{% endblock %}
{% block blog_content %}
    <div class="content-section p-2 mb-4" style="background-color: #eee;">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Blog Post</legend>
                <!-- {{ form|crispy }} -->
                {% for field in form %}
                <p>
                    {% if field.label %}{{field.label_tag}}<br/>{% endif %}
                    {{ field }}
                </p>
                    {% if field.errors %}{{ field.errors }}{% endif %}
                {% endfor%}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-lg btn-info" type="submit">Post</button>
            </div>
        </form>
    </div>
{% endblock blog_content %}