{% extends "blog/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{{_('Share a post')}}{% endblock %}
{% block blog_content %}
<div class="bg-light m-2 p-2 rounded">
    {% if sent %}
        <h3>{{_('E-mail successfully sent')}}</h3>
        <p>
            {% blocktranslate with post_title=post.title receiver=form.cleaned_data.to%}
            "{{ post_title }}" was successfully sent to {{ receiver }}.
            {% endblocktranslate%}
        </p>
        {% else %}
        <h3 class="">
            {% blocktranslate with post_title=post.title%}
            Share "{{ post_title }}" by e-mail
            {% endblocktranslate%}
        </h3>
        <form method="post">
            {% csrf_token %}
            {{form | crispy}}
            <button class="btn btn-primary" type="submit">{{_('Send Email')}}</button>
        </form>
    {% endif %}
</div>
{% endblock %}