{% extends 'base.html'%}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block root_content %}
<section class="h-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6 d-flex align-items-center bg-secondary">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                {% if website %}
                                <h4 class="mb-4">{{ website.masthead.motto_title }}</h4>
                                <p class="small mb-0">
                                    {{ website.masthead.motto_description }}
                                </p>
                                {% else %}
                                <h4 class="mb-4">{{_('Welcome to the site!')}}</h4>
                                <p class="small mb-0">
                                    {{_('We wish you to have a nice moments in our site.')}}
                                </p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">
                                <div class="text-center">
                                    {% if website %}
                                    <img src="{{website.logo.url}}" style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">{{ website.name }}</h4>
                                    {% endif %}
                                </div>
                                <form method="POST">
                                    {% csrf_token %}
                                    <fieldset class="form-group">
                                        <legend class="border-bottom mb-4">{{ _('Login') }}</legend>
                                        {{ form|crispy }}
                                    </fieldset>
                                    <div class="form-group my-2 d-flex justify-content-between">
                                        <button class="btn btn-outline-primary" type="submit">{{_('Submit')}}</button>
                                        <!-- <small class="text-muted">
                                            <a class="ml-2 disabled"
                                                href="{% url 'users:register' %}">{{_('Register')}}</a>
                                        </small> -->
                                    </div>
                                </form>
                                <div class="border-top mt-3">
                                    <small class="text-muted">
                                        {{_('Forgot password ?')}} <a class="ml-2 disabled"
                                            href="{% url 'password_reset' %}">{{_('New Password')}}</a>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}