{% extends 'base.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block root_content %}
    <div class="text-center">
        <div class="shadow p-2">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">{{_('Register')}}</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group my-2">
                    <button class="btn btn-outline-primary" type="submit">{{_('Submit')}}</button>
                    <small class="text-muted">
                        {{_('Have account ?')}} <a class="ml-2 disabled" href="{% url 'users:login' %}">{{_('Login')}}</a>
                    </small>
                </div>
            </form>
        </div>
    </div>
{% endblock %}