{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #eee;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Demo Site</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home:index' %}">{{_('Home')}}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">{{_('Blog')}}</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item active" href="{% url 'blog:post-list' %}">{{_('Posts')}}</a></li>
                        {% if user.is_authenticated %}
                        <li><a class="dropdown-item" href="{% url 'blog:drafts' %}">{{_('Drafts')}}</a></li>
                        <li><a class="dropdown-item" href="{% url 'blog:post-create' %}">{{_('New Blog Post')}}</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'qanda:qanda' %}">{{_('Q&A')}}</a>
                </li>
                <li class="nav-item dropdown drop-start">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{_('Language')}}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}

                        {% for lang in languages %}
                        <li>
                            <a class="dropdown-item{% if lang.code == LANGUAGE_CODE %} active {% endif %}"
                                href='/{{ lang.code }}/{{request.get_full_path|slice:"4:"}}'>
                                {{ lang.name_local }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>

            <form class="d-flex align-items-center text-center w-100 me-3" method="GET"
                action="{% url 'blog:post-search' %}">
                <input class="form-control form-control-sm me-2" type="search" name="query"
                    placeholder="{{_('Search')}}" aria-label="Search">
                <button class="btn btn-outline-dark btn-sm " type="submit">{{_('Search')}}</button>
            </form>
            {% if user.is_authenticated %}
            <div class="dropdown">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{ user.profile.image.url }}" alt="{{user.username}}" width="32" height="32"
                        class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="{% url 'users:profile' %}">{{_('Profile')}}</a></li>
                    {% if user.is_superuser %}
                    <li><a class="dropdown-item" href="/admin/">Admin</a></li>
                    {% endif %}
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{% url 'users:logout' %}">{{_('Log Out')}}</a></li>
                </ul>
            </div>
            {% else %}
                <a class="btn btn-sm btn-outline-dark" href="{% url 'users:login' %}">{{_('Login')}}</a>
            {% endif %}
        </div>
    </div>
</nav>